@import url(./secoes/perfil/perfil.css);
@import url(./secoes/experiencias/experiencias.css);
@import url(./secoes/tecnologias/tecnologias.css);

@font-face {
    font-family: Inter;
    src: url(./midias/fontes/inter.ttf);
}

:root {
    --azul-claro: #3FD3E3;
    --azul-escuro: #3F8CE3;
    --branco: #F0F0F0;
    --branco-translucido: #F0F0F033;
    --cinza: #8C9A9E;
    --laranja: #E9B14B;
    --preto: #050D17;
    --preto-translucido: #050D1733;
    --rosa: #EDD2F2;
    --roxo: #916DDE;
    --verde: #40B95C;
    --vermelho: #F45353;
}

* {
    font-family: Inter;
    font-size: 2rem;
    color: var(--preto);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    background-color: var(--rosa);
}

body {
    position: relative;
    padding: 80px 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 100%;
    padding: 0 80px;
}

h1, h2 {
    font-size: 3.6rem;
    font-weight: 700;
}

h3 {
    font-size: 2.4rem;
    font-weight: 500;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

img {
    flex-shrink: 0;
    height: auto;
    width: auto;
}

.separador_ondular {
    background: linear-gradient(0deg, var(--roxo) 0%, var(--roxo) 20%, var(--rosa) 21%, var(--rosa) 100%);
}

.separador_ondular:last-of-type {
    transform: rotate(180deg);
}

.separador_ondular > div {
    width: 100%;
    height: 80px;
    background: url("./midias/icones/ondas.svg");
    background-size: 1000px 80px;
    animation: mover-onda 45s linear infinite;
}

@keyframes mover-onda {
    from { background-position-x: 0; }
    to { background-position-x: 1000px; }
}

@media (width < 768px) {
    * {
        font-size: 1.6rem;
    }

    body {
        padding: 24px 0;
    }

    section {
        padding: 0 24px;
    }

    h1, h2 {
        font-size: 2.8rem;
    }

    h3 {
        font-size: 2rem;
    }
}
